models/research/object_detection/inference_graph
models/research/object_detection/images/train/*
models/research/object_detection/images/test/*
models/research/mscoco_train.record
models/research/mscoco_val.record
models/research/object_detection/test_images
models/research/object_detection/training/model.*
